*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', Impact, Arial, sans-serif;
}

body {
    background-color: #ffeaa7;
}

form {
    background-color: #fab1a0;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

#tempCalc label {
    font-size: 20px;
}

#temp {
    border: none;
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

#temp_diff {
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
}

[type="submit"] {
    height: 35px;
    margin: 20px 0;
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
}

#resultContainer {
    font-size: 25px;
}
